In [ ]:
s="string is good"
s.capitalize()

In [ ]:
""""My 
Name 
is 
Sumit"""

In [ ]:
len("Sumit")

In [16]:
fn="Sumit Kumar Mishra"
ln="Mishra"
fn[0]

'S'

In [ ]:
l=['S','U','M','I','T']
l[0]='K'
l

In [ ]:
fn.center(20,'*')

In [ ]:
fn.upper()

In [ ]:
fn.lower()

In [ ]:
fn.count('i')

In [ ]:
fn.split()

In [22]:
fn.find('')

1

In [ ]:
fn.endswith('a')

In [56]:
fn="Sumit"
ln="Mishra"
print("My first name is : {} and last name is : {}".format(fn,ln,'bdsj','fsjfb'))

My first name is : Sumit and last name is : Mishra

In [24]:
fn.index('mi')

2

In [60]:
a="aabcDeAaFgHI"
a

'aabcDeAaFgHI'

In [36]:
' '.join(['Sumit','Kumar','Mishra'])

'Sumit Kumar Mishra'

In [40]:
a.partition('e')

('abcd', 'e', 'fghi')

In [52]:
a.replace('a','b',3)

'bbbcdebafghi'

In [54]:
a.startswith('b')

False

In [55]:
a.strip('a')

'bcdeaafghi'

In [58]:
a.swapcase()

'aABCdEaAfGhi'

In [61]:
a.title()

'Aabcdeaafghi'

In [63]:
a='shashas\tshjvfsa'
a.expandtabs()

'shashas shjvfsa'

In [68]:
l = [1,2,3]

In [69]:
l.append(('ssnnsf'))
l

[1, 2, 3, 'ssnnsf']

In [70]:
l1=l.copy()
l1

[1, 2, 3, 'ssnnsf']

In [71]:
l.clear()
l

[]

In [78]:
l1=[1,2,1,3,4,1,3,2,3,5,6,7,8,9,4,5,6,8,3]

In [79]:
l1.count(3)

4

In [81]:
l1.index(5)

9

In [82]:
l1.insert(9,10)

In [83]:
l1

[1, 2, 1, 3, 4, 1, 3, 2, 3, 10, 5, 6, 7, 8, 9, 4, 5, 6, 8, 3]

In [86]:
l2=l1.pop(1)
l2

2

In [87]:
l1

[1, 1, 3, 4, 1, 3, 2, 3, 10, 5, 6, 7, 8, 9, 4, 5, 6, 8]

In [89]:
l1.remove(5)
l1

[1, 1, 3, 4, 1, 3, 2, 3, 10, 6, 7, 8, 9, 4, 5, 6, 8]

In [90]:
l1.reverse()
l1

[8, 6, 5, 4, 9, 8, 7, 6, 10, 3, 2, 3, 1, 4, 3, 1, 1]

In [100]:
l2=['Sumit','Kumar','Mishra']
l2

['Sumit', 'Kumar', 'Mishra']

In [101]:
l2.reverse()
l2

['Mishra', 'Kumar', 'Sumit']

In [99]:
l2[10]

IndexError: list index out of range

In [146]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l3=[11,12,13,14,15]

In [147]:
matrix=[l1,l2,l3]
matrix

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

In [104]:
matrix[2][2]

13

In [150]:
[num for num in matrix if (num[1] % 2) == 0]

[[1, 2, 3, 4, 5], [11, 12, 13, 14, 15]]

In [105]:
len(matrix)

3

In [116]:
matrix[1][::-1]

[10, 9, 8, 7, 6]

In [117]:
matrix*2

[[1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15],
 [1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15]]

In [119]:
l1.index(5,-1)

4

In [121]:
l1.insert(-1,4)

In [122]:
l1

[1, 2, 3, 4, 4, 5]

In [145]:
first_row=[row[0]**2 for row in matrix]
first_row

[1, 36, 121]

In [139]:
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [140]:
l.extend([1,2,3,4,5])

In [141]:
l

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [136]:
a=l.pop(2)
a
l

[1, 2, 1, 2, 3, 5]

In [138]:
l.remove(1)
l

[2, 1, 2, 3, 5]

In [154]:
l=[23,45,12,67,100,2,7,4764]
l

[23, 45, 12, 67, 100, 2, 7, 4764]

In [158]:
l.sort(reverse=True)
l

[4764, 100, 67, 45, 23, 12, 7, 2]

In [143]:
l

[4764, 100, 67, 45, 23, 12, 7, 2]

In [156]:
l1=sorted(l)
l1

[2, 7, 12, 23, 45, 67, 100, 4764]

In [159]:
l=['123','234','Sumit','Sumit123','Mishra']
m=[]
n=[]
for i in l:
    if i.isalpha() == True:
        m.append(i)
    if i.isdecimal() == True:
        n.append(i)
m,n

(['Sumit', 'Mishra'], ['123', '234'])

In [160]:
t=(1,2,3,4,5,6,7,8,9)
t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [161]:
type(t)

tuple

In [162]:
l=[t]

In [163]:
l

[(1, 2, 3, 4, 5, 6, 7, 8, 9)]

In [164]:
l=list(t)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [165]:
t1=(10,11,12,13,14,15)

In [166]:
t+t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [167]:
t[0]=5

TypeError: 'tuple' object does not support item assignment

In [168]:
t=(1,2,3,[4,5,6],'Sumit','Kumar')
t

(1, 2, 3, [4, 5, 6], 'Sumit', 'Kumar')

In [169]:
t(0,3)

TypeError: 'tuple' object is not callable

In [174]:
t[0:5:2]

(1, 3, 'Sumit')

In [172]:
t[::-1]

('Kumar', 'Sumit', [4, 5, 6], 3, 2, 1)

In [179]:
t=(7,3,8,2,9,1,1,1,1,1)
t.count(6)

0

In [178]:
t.index(78)

ValueError: tuple.index(x): x not in tuple

In [177]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [180]:
t=(1,2.3,"Sumit",[1,2,3,4],(1,2,3,4,5),True)
t

(1, 2.3, 'Sumit', [1, 2, 3, 4], (1, 2, 3, 4, 5), True)

In [181]:
t[3][2]=5

In [182]:
t

(1, 2.3, 'Sumit', [1, 2, 5, 4], (1, 2, 3, 4, 5), True)

In [186]:
t=t[3][::-1]

In [187]:
t

[4, 5, 2, 1]

In [188]:
l=[1,2,3,1,2,3,1,2,3,1,2,3]
s=set(l)
s

{1, 2, 3}

In [189]:
s={1,2,3,4,5,6,7}
s

{1, 2, 3, 4, 5, 6, 7}

In [190]:
s={1,1,1,1,2,3,4,2,3}
s

{1, 2, 3, 4}

In [191]:
type(s)

set

In [192]:
set("sumit")

{'i', 'm', 's', 't', 'u'}

In [193]:
s1={1,2,3,4,5}
s2={6,7,8,9,10}
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [194]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l1+l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [195]:
s

{1, 2, 3, 4}

In [198]:
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [199]:
s.clear()
s

set()

In [200]:
s

set()

In [201]:
s={1,2,3,4,5,6,1,2,3,4,5,6}
s

{1, 2, 3, 4, 5, 6}

In [202]:
s_copy=s.copy()
s_copy

{1, 2, 3, 4, 5, 6}

In [203]:
s

{1, 2, 3, 4, 5, 6}

In [208]:
print(s_copy.difference(s))

{7}

In [205]:
s_copy.add(7)
s_copy

{1, 2, 3, 4, 5, 6, 7}

In [209]:
s.intersection(s_copy)

{1, 2, 3, 4, 5, 6}

In [210]:
s_copy.difference(s)

{7}

In [211]:
s.issubset(s_copy)

True

In [212]:
s_copy.issuperset(s)

True

In [216]:
l=s_copy.pop()
l

3

In [217]:
s_copy

{4, 5, 6, 7}

In [219]:
s.remove(2)

In [220]:
s

{1, 3, 4, 5, 6}

In [222]:
s=s.union(s_copy)
s

{1, 3, 4, 5, 6, 7}

In [223]:
s[0]=2
s

TypeError: 'set' object does not support item assignment

In [227]:
s.update(s_copy)

In [228]:
s

{1, 3, 4, 5, 6, 7, 8, 9, 10, 89}

In [226]:
s_copy={89,8,9,10}

In [229]:
s.symmetric_difference(s_copy)

{1, 3, 4, 5, 6, 7}

In [230]:
s.difference_update(s_copy)
s

{1, 3, 4, 5, 6, 7}

In [231]:
s.intersection_update()

In [232]:
s

{1, 3, 4, 5, 6, 7}

In [238]:
s[0]

TypeError: 'set' object is not subscriptable

In [239]:
for i in s:
    print(i)

1
3
4
5
6
7

In [236]:
t=(1,2,3,4,5)
t[0]=9
t

TypeError: 'tuple' object does not support item assignment

In [243]:
a=set([[1,2,3,4],5,6,7])
a

TypeError: unhashable type: 'list'

In [250]:
a={0,2,3,45,22,245,5,65,6,76,'xyz','sumit'}
a

{0, 2, 22, 245, 3, 45, 5, 6, 65, 76, 'sumit', 'xyz'}

In [251]:
d={"k1":12,'k2':34}
d

{'k1': 12, 'k2': 34}

In [252]:
type(d)

dict

In [297]:
d.items

In [254]:
print(d.items)

<built-in method items of dict object at 0x1075630f0>

In [258]:
a=d.values
a

In [259]:
d.keys

In [260]:
d['k1']

12

In [282]:
d['k1']

1

In [287]:
d={'k1':1,'k2':6.8,'k3':True,'k4':[4,5,6,"Sumit"],'k5':(6,7,8),'k6':{1,1,2,3,2,3},'k7':{'a1':12,'b1':23},'k8':"Sumit"}
d

{'k1': 1,
 'k2': 6.8,
 'k3': True,
 'k4': [4, 5, 6, 'Sumit'],
 'k5': (6, 7, 8),
 'k6': {1, 2, 3},
 'k7': {'a1': 12, 'b1': 23},
 'k8': 'Sumit'}

In [277]:
d1={'k':123,'k1':456}
d1['k']=234
d1

{'k': 234, 'k1': 456}

In [274]:
d1={'k1':12,'k2':23}
d2={'k3':34,'k4':45}
d3=dict(d1,**d2)
d3

{'k1': 12, 'k2': 23, 'k3': 34, 'k4': 45}

In [288]:
d['k9']='Mishra'
d

{'k1': 1,
 'k2': 6.8,
 'k3': True,
 'k4': [4, 5, 6, 'Sumit'],
 'k5': (6, 7, 8),
 'k6': {1, 2, 3},
 'k7': {'a1': 12, 'b1': 23},
 'k8': 'Sumit',
 'k9': 'Mishra'}

In [292]:
a=d.keys()
a

dict_keys(['k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7', 'k8', 'k9'])

In [296]:
for i in a:
    print(d[i])

1
6.8
True
[4, 5, 6, 'Sumit']
(6, 7, 8)
{1, 2, 3}
{'a1': 12, 'b1': 23}
Sumit
Mishra

In [298]:
d.items

In [299]:
d={'k1':12,'k2':23,'k3':34,'k4':45}

In [303]:
b=d.values()

dict_items([('k1', 12), ('k2', 23), ('k3', 34), ('k4', 45)])

In [307]:
b

In [309]:
for i in d.values():
    print(i)

12
23
34
45

In [310]:
{d[i] for i in d}

{12, 23, 34, 45}

In [311]:
{i:'Sumit' for i in range(10)}

{0: 'Sumit',
 1: 'Sumit',
 2: 'Sumit',
 3: 'Sumit',
 4: 'Sumit',
 5: 'Sumit',
 6: 'Sumit',
 7: 'Sumit',
 8: 'Sumit',
 9: 'Sumit'}

In [312]:
l=[[1,2,3,],4,5,6,[7,8,9]]
set(l)

TypeError: unhashable type: 'list'

In [314]:
t=((1,2,3),1,2,(6,7,8))
set(t)

{(1, 2, 3), (6, 7, 8), 1, 2}

In [315]:
t[0]

(1, 2, 3)

In [316]:
l[0]

[1, 2, 3]

In [317]:
list(d)

['k1', 'k2', 'k3', 'k4']

In [318]:
tuple(d)

('k1', 'k2', 'k3', 'k4')

In [319]:
set(d)

{'k1', 'k2', 'k3', 'k4'}

In [320]:
[d.values()]

[dict_values([12, 23, 34, 45])]

In [321]:
l=[[1,2,3],[4,5,6],[7,8,9]]
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [328]:
[i[0] for i in l]

[1, 4, 7]

In [330]:
[[i[0],i[1]] for i in l]

[[1, 2], [4, 5], [7, 8]]

In [391]:
l=[[1,2,3],[4,5,6],[7,8,9]]
l
[[i[0] for i in l],[i[1] for i in l],[i[2] for i in l] ]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [392]:
[[i[num] for i in l] for num in range(0,3) ]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [334]:
s={56,7,23,1,"hello",98.0,'test'}
s

{1, 23, 56, 7, 98.0, 'hello', 'test'}

In [335]:
s.pop()

1

In [336]:
s

{23, 56, 7, 98.0, 'hello', 'test'}

In [337]:
s.pop()

98.0

In [338]:
s

{23, 56, 7, 'hello', 'test'}

In [339]:
s.pop()

7

In [340]:
s

{23, 56, 'hello', 'test'}

In [341]:
s.pop()

'hello'

In [345]:
d={'k1':1,'k2':6.8,'k3':True,'k4':[4,5,6,"Sumit"],'k5':(6,7,8),'k6':{1,1,2,3,2,3},'k7':{'a1':12,'b1':23},'k8':"Sumit"}
d

{'k1': 1,
 'k2': 6.8,
 'k3': True,
 'k4': [4, 5, 6, 'Sumit'],
 'k5': (6, 7, 8),
 'k6': {1, 2, 3},
 'k7': {'a1': 12, 'b1': 23},
 'k8': 'Sumit'}

In [343]:
d.clear()

In [344]:
d

{}

In [346]:
d1=d.copy()

In [347]:
d1

{'k1': 1,
 'k2': 6.8,
 'k3': True,
 'k4': [4, 5, 6, 'Sumit'],
 'k5': (6, 7, 8),
 'k6': {1, 2, 3},
 'k7': {'a1': 12, 'b1': 23},
 'k8': 'Sumit'}

In [352]:
d2=d.fromkeys({'k1':12,'k2':[1,2,3],'k3':7.8,'k4':"sumit"},{1,2,3,4,5})
d2

{'k1': {1, 2, 3, 4, 5},
 'k2': {1, 2, 3, 4, 5},
 'k3': {1, 2, 3, 4, 5},
 'k4': {1, 2, 3, 4, 5}}

In [356]:
d.get('k4')

[4, 5, 6, 'Sumit']

In [357]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7', 'k8'])

In [358]:
d.items()

dict_items([('k1', 1), ('k2', 6.8), ('k3', True), ('k4', [4, 5, 6, 'Sumit']), ('k5', (6, 7, 8)), ('k6', {1, 2, 3}), ('k7', {'a1': 12, 'b1': 23}), ('k8', 'Sumit')])

In [361]:
d.popitem()

('k6', {1, 2, 3})

In [366]:
d.pop('k5')

(6, 7, 8)

In [368]:
d.setdefault('k5',(6,7,8))

(6, 7, 8)

In [369]:
d

{'k1': 1, 'k2': 6.8, 'k3': True, 'k4': [4, 5, 6, 'Sumit'], 'k5': (6, 7, 8)}

2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists
['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [370]:
string="ACADGILD"
[s for s in string]

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [374]:
input_list=['x','y','z']
[item*num for item in input_list for num in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [379]:
input_list=['x','y','z']
[item*num for num in range(1,5) for item in input_list]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

['x','y','z'] => ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [380]:
input_list=[2,3,4]
[[item+num] for item in input_list for num in range(0,3)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [387]:
input_list=[2,3,4,5]
[[item+num for item in input_list] for num in range(0,4)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [389]:
input_list=[1,2,3]
[(item2,item1)for item1 in input_list for item2 in input_list]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [395]:
a=['x','y','z']
'2'+a[0]

'2x'

In [9]:
for i in range(0,9):
    if(i <= 4):
        for j in range(0,i+1):
            print("*", end=" ")
        print("\n")
    else:
        for j in range(i,9):
            print("*", end=" ")
        print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*