In [5]:
def say_hello():
    """This function will diplay Hello Message"""
    print("Hello")

In [257]:
a=say_hello()
type(a)

Hello

NoneType

In [92]:
def greetings(name):
    '''Greet by name'''
    print(f'Hello {name}')
    print("Hello {}".format(name))
    print("Hello %s" %name)
    print("Hello",name)

In [93]:
greetings("Sumit")

Hello Sumit
Hello Sumit
Hello Sumit
Hello Sumit

In [27]:
def num(i):
    return i

In [28]:
a=num(2)

In [29]:
a

2

In [20]:
def test():
    pass

In [21]:
test()

In [72]:
def add_num(a,b):
    return a+b, a*b

In [288]:
a,b=add_num(4,5)
a

9

In [32]:
result=add_num(10,5)

In [33]:
result

15

In [34]:
print(add_num(3,4))

7

In [35]:
print(add_num('Sumit',1))

TypeError: can only concatenate str (not "int") to str

In [40]:
def test():
    return "This is my first function"

In [41]:
a=test()
a

'This is my first function'

In [42]:
type(a)

str

In [59]:
def prime_number(num):
    '''
    Basic method to check prime number
    '''
    for i in range(2,num):
        if(num%i==0):
            return 'Not a Prime Number'
            break
    else:
        return 'Prime number'

In [60]:
prime_number(15)

'Not a Prime Number'

In [285]:
def test1():
    l=[]
    for i in range(6):
        a=input()
        l.append(a)
    return l

In [286]:
test1()

1
2
3
3
4
5

['1', '2', '3', '3', '4', '5']

In [84]:
def test2(a,b='Kumar'):
    print(f'Name is {a} {b}')

In [86]:
test2('Preeti','Panigrahy')

Name is Preeti Panigrahy

In [137]:
import math
def is_prime(num):
    '''
    A better method to check if the input number is prime or not
    '''
    if (num%2 == 0 and num > 2):
        return False
    for i in range(3,int(math.sqrt(num))+1,2):
        if(num%i == 0):
            return False,i
    return True

In [139]:
is_prime(111)

(False, 3)

In [226]:
next(iter(range(1,6)))

1

In [166]:
next("Sumit")

TypeError: 'str' object is not an iterator

In [167]:
for i in 45:
    print(i)

TypeError: 'int' object is not iterable

In [178]:
a=iter('Sumit')

In [179]:
next(a)

'S'

In [242]:
def gencubes(num):
    for x in range(num):
        yield x**3

In [251]:
gencubes(5)

In [244]:
next(gencubes(5))

0

In [256]:
next(iter(range(5)))

0

In [252]:
r=iter(range(5))

In [254]:
next(r)

1

In [245]:
a=gencubes(5)

In [248]:
next(a)

8

In [249]:
b=iter(gencubes(5))

In [250]:
b

In [200]:
for x in gencubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [209]:
a=iter(gencubes(5))

In [212]:
next(a)

8

In [213]:
type(a)

generator

In [215]:
def fibonacci(num):
    '''
    Generate a fibonacci sequence up to n
    '''
    a=1
    b=1
    for i in range(num+1):
        yield a
        a,b=b,a+b

In [218]:
list(fibonacci(10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [217]:
for i in fibonacci(10):
    print(i)

1
1
2
3
5
8
13
21
34
55
89

In [272]:
def simple_gen():
    for i in range(5):
        yield i

In [282]:
g=simple_gen()

In [283]:
type(g)

generator

In [284]:
next(g)

0

In [281]:
for i in simple_gen():
    print(i)

0
1
2
3
4

In [1]:
def sum(x,y):
    return x+y

In [16]:
m=list(map(sum,[7,8,9],[4,5,6]))

In [17]:
m

[11, 13, 15]

In [10]:
def farenhit(T):
    '''
    Function to convert temperature to farenhit
    '''
    return ((T*(9/5))+32)
temp=[37,40,23,34]

In [12]:
m=list(map(farenhit,temp))

In [13]:
m

[98.6, 104.0, 73.4, 93.2]

In [15]:
l=[]
for i in temp:
    l.append(farenhit(i))
l

[98.6, 104.0, 73.4, 93.2]

In [1]:
def name_upper(name):
    '''
    Function to covert name into upper case
    '''
    return name.upper()

In [2]:
list(map(name_upper,'sumit kumar'))

In [28]:
list(map(lambda x:x.upper(),'sumit kumar'))

['S', 'U', 'M', 'I', 'T', ' ', 'K', 'U', 'M', 'A', 'R']

In [32]:
(lambda x:x+1)(3)

4

In [33]:
add_one=(lambda x:x+1)
add_one(2)

3

In [51]:
Full_Name=lambda first_name, last_name: f'Full name is: {first_name.title()} {last_name.title()}'
Full_Name('sumit','kumar')

'Full name is: Sumit Kumar'

In [56]:
Full_Name=lambda first_name: str, last_name: str: f'Full name is: {first_name.title()} {last_name.title()}' ->str

SyntaxError: invalid syntax (<ipython-input-56-6d97cb28d36f>, line 1)

In [54]:
def full_name(first: str, last: str) -> str:
    '''
    Function to print full name
    '''
    return f'{first.title()} {last.title()}'

In [55]:
full_name('sumit','kumar')

'Sumit Kumar'

In [38]:
x=lambda x,y:x+y
x(1,2)

3

In [39]:
(lambda x,y:x+y)(3,5)

8

In [40]:
high_order_funct= lambda x,func: x+func(x)
high_order_funct(2,lambda x:x*x)

6

In [42]:
high_order_funct(2,lambda x:x+3)

7

In [49]:
(lambda x: (x%2 and 'odd' or 'even'))(3)

'odd'

In [20]:
(lambda x: 'odd' if (x%2)==1 else 'even')(4)

'even'

In [63]:
a=[1,2,3,4,5,6]
b=[3,4,5,6,10]
c=[12,13,14]
list(map(lambda x,y,z:x+y+z,a,b,c))

[16, 19, 22]

In [2]:
from functools import reduce
l=[1,2,3,4,5,6]
reduce(lambda x, y: x+y,l)

21

In [3]:
def test(a,b):
    return a+b

In [4]:
reduce(test,l)

21

In [12]:
list=[45,33,55,100,22,66,11,77,23,79]
max=reduce(lambda x,y: x if (x>y) else y,list)
max

100

In [13]:
list1=[45,33,55,100,22,6,66,11,77,23,79]
min=reduce(lambda x,y: x if (x<y) else y,list1)
min

6

In [19]:
(lambda x: 'odd' if (x%2)==1 else 'even')(4)

'even'

In [16]:
list2=[1,2,3,4,5,6,7]
avg=reduce(lambda x,y:x+y,list2)/len(list2)
avg

4.0

In [3]:
def even_check(num):
    if num%2==1:
        return True

In [4]:
lst=range(20)

list(filter(even_check,lst))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
list(filter(lambda x: x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [14]:
even=lambda x: x%2 == 0
list(filter(even,range(20)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
list(map(lambda x: x%2==0,lst))

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [17]:
lst1=['sumit','preeti']
lst2=['kumar mishra','panigrahy']
list(map(lambda x,y:x.title()+" "+ y.title(),lst1,lst2))

['Sumit Kumar Mishra', 'Preeti Panigrahy']

In [18]:
def test1(a,b,c):
    print(f'{a} {b} {c}')

In [20]:
test1(a=1,b=2,c=3)

1 2 3

In [21]:
test1(c=3,a=1,b=2)

1 2 3

In [22]:
def test2(a=1,b=2,c=3):
    print(f'{a} {b} {c}')

In [26]:
test2(c=10,a=20)

20 2 10

In [27]:
def test3(mylist=[]):
    mylist.append('123')
    return mylist

In [36]:
test3(['1',2,3,4,5])

['1', 2, 3, 4, 5, '123']

In [32]:
test3()

['123', '123', '123', '123']

In [38]:
def f():
    return dict(a=1,b=2,c=3)
f()['a']

1

In [39]:
def f():
    return 'sumit'
f()[2:4]

'mi'

In [40]:
def f():
    return ['a','b','c','d','e','f']
f()[::-1]

['f', 'e', 'd', 'c', 'b', 'a']

In [41]:
f()[2]

'c'

In [42]:
def f():
    return 'Sumit','Kumar','Mishra'

In [45]:
t=f()
a,b,c=f()

In [46]:
a

'Sumit'

In [47]:
def avg(x,y,z):
    return (x+y+z)/3

In [48]:
avg(1,2,3)

2.0

In [51]:
def func(*i):
    print(i)
    print(type(i), len(i))
    for x in i:
        print(x)

In [52]:
func(1,2,3,4)

(1, 2, 3, 4)
<class 'tuple'> 4
1
2
3
4

In [54]:
func('a','b','c','d','e','f')

('a', 'b', 'c', 'd', 'e', 'f')
<class 'tuple'> 6
a
b
c
d
e
f

In [59]:
def avg(*args: tuple) -> float:
    '''
    Function to calculate avg for arbitrary number of arguments
    '''
    total = 0
    for i in args:
        total+=i
    return float(total/len(args))

In [63]:
avg(1,2,3)

2.0

In [64]:
def avg(*args):
    return sum(args)/len(args)

In [65]:
avg(1,2,3,4,5,6,7)

4.0

In [70]:
def f(x,y,z):
    print(f'x = {x}')
    print(f'y = {y}')
    print(f'z = {z}')

In [75]:
t=(1,2,4)
l=['Sumit','Kumar','Mishra']
s={'a','b','c'}
f(*t)

x = 1
y = 2
z = 4

In [76]:
def test5(*args):
    print(type(args),args)

In [77]:
t=(1,2,3,4,5,6,7,8,9,10)
test5(*t)

<class 'tuple'> (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [78]:
def test6(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key,val in kwargs.items():
        print(key,'->',val)

In [80]:
test6(foo=1, bar=2, baz=3)

{'foo': 1, 'bar': 2, 'baz': 3}
<class 'dict'>
foo -> 1
bar -> 2
baz -> 3

In [85]:
def concat(*args: '*args'):
    print (f'{" ".join(args)}')

In [82]:
concat('Sumit','Kumar','Mishra')

Sumit Kumar Mishra

In [83]:
concat('Preeti','Panigrahy')

Preeti Panigrahy

In [89]:
def f(x, y, *, a, b):
    print(x, y,  a, b)

In [92]:
f(1,2,a=10,b=20)

1 2 10 20

In [3]:
lst=[1,2,3,4,5]
[lambda x: x**2 for x in lst]

[<function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>]