In [ ]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except Exception as e:
            print("Looks like you did not enter an integer!",e)
            
        finally:
            print("Finally, I executed!")
        try:
            print(val) 
        except Exception as t:
            print(t)

In [ ]:
askint()

In [ ]:
import os
import platform

LOCATION = r"C:\oracle\product\10.2.0\db_1\bin"
print("ARCH:", platform.architecture())
print("FILES AT LOCATION:")
for name in os.listdir(LOCATION):
    print(name)
os.environ["PATH"] = LOCATION + ";" + os.environ["PATH"]

import cx_Oracle
dsn_tns = cx_Oracle.makedsn('Sumit-HP', '1521', service_name='orcl')
conn = cx_Oracle.connect(user=r'SYSTEM', password='SYSTEM', dsn=dsn_tns)
conn

In [ ]:
import math
math.ceil(3.1)

In [ ]:
print(dir(math))

In [ ]:
help(math.ceil)

In [ ]:
def askint():
    val = 0
    while True:
        try:
            val = int(input('Enter an integer: '))
        except:
            print("Looks like you haven't entered an integer. Try again." )
            continue
        else:
            print("Yep, That's an integer")
            break
        finally:
            print('Finally Entered an integer. Thanks')
    print(val)

In [ ]:
askint()

In [ ]:
def askint():
    try:
        val=int(input('Please enter an integer: '))
    except:
        print("That's not an integer.")
        try:
            val = int(input("Try agin :- Please enter an integer"))
        except:
            print("Oops.. Again you did not entered an integer")
    finally:
        print("Finally succefully entered an integer")

In [ ]:
askint()

In [ ]:
# Instead of waiting for a program to crash midway, you can also start by making an assertion in Python.
# We assert that a certain condition is met. If this condition turns out to be True, then that is excellent! 
# The program can continue. If the condition turns out to be False, you can have the program throw an AssertionError exception.
x = 2
assert(x>5), "x should not be smaller than 5. Value x was: {0}".format(x)

In [ ]:
# Raise Exception: If you want to throw an error when a certain condition occurs using raise, you could go about it like this:
x = 10
if x > 5:
    raise Exception("x should not be greater than 5. Value x was: {0}".format(x))

In [ ]:
# Raise:

#Two reasons where this is useful:

# 1/ To be used with try and except blocks. Raise an error of your choosing, could be custom like below and doesn't stop the 
# script if you pass or contiune the script; or can be predefined errors raise ValueError()
class CustomError(BaseException):
    pass
try:
    print("Hello")
    raise CustomError
    print("World")
except CustomError:
    print("Found it. Not stopping now.")
print("I am Outside")

In [ ]:
# Assert:

# Used when you want to "stop" the script based on a certain condition and return something to help debug faster:
list_ = ['a','b','x']
assert 'x' in list_, "x not found in list"
print('passed')

In [ ]:
list_ = ['a', 'b', 'c']
assert 'x' in list_, "x not found in list"
print('passed')

In [ ]:
try:
    with open('file.log') as file:
        read_data = file.read()
except FileNotFoundError as fnf_error:
    print(fnf_error)

In [ ]:
#raise allows you to throw an exception at any time.
#assert enables you to verify if a certain condition is met and throw an exception if it isnâ€™t.
#In the try clause, all statements are executed until an exception is encountered.
#except is used to catch and handle the exception(s) that are encountered in the try clause.
#else lets you code sections that should run only when no exceptions are encountered in the try clause.
#finally enables you to execute sections of code that should always run, with or without any previously encountered exceptions.

In [ ]:
class B(Exception):
    pass

class C(B):
    pass

class D(C):
    pass

for cls in [B, C, D]:
    try:
        raise cls()
    except B:
        print("B")
    except C:
        print("C")
    except D:
        print("D")

In [ ]:
class B(Exception):
    pass

class C(B):
    pass

class D(C):
    pass

for cls in [B, C, D]:
    try:
        raise cls()
    except D:
        print("D")
    except C:
        print("C")
    except B:
        print("B")

In [ ]:
# https://realpython.com/python-logging/

import logging

logging.debug('This is a debug message')
logging.info('This is a info messange')
logging.warning('This is a warning message')
logging.error('This is an error message')
logging.critical('This is a critical message')
logging.fatal('This is a CRITICAL message')

In [ ]:
import logging
logging.basicConfig(level = logging.DEBUG)
logging.debug('This will be logged')

In [ ]:
# Logging to a file
import logging

logging.basicConfig(filename = 'test_error_logging.log', filemode='w', format = '%(name)s - %(levelname)s - %(message)s')
logging.warning('This will be logged to a file')

In [ ]:
# Logging to a file
import logging

logging.basicConfig(filename = 'test_error_logging.log', filemode='w', format = '%(name)s - %(levelname)s - %(message)s')
logging.warning('This will be logged to a file')

In [ ]:
logging.shutdown()

In [ ]:
import logging
logging.basicConfig(filename = 'test_error_logging.log', filemode='w',format = '%(process)d - %(levelname)s - %(message)s - %(asctime)s', level=logging.info)
logging.warning('This is a warning')

In [ ]:
import logging

logging.basicConfig(format='%(asctime)s - %(message)s', level=logging.WARNING)
logging.info('Admin logged in')

In [ ]:
import logging

logging.basicConfig(format='%(asctime)s - %(message)s', datefmt='%d-%b-%y %H:%M:%S')
logging.warning('Admin logged out')

In [ ]:
import logging

name = 'John'

logging.error('%s raised an error', name)

In [ ]:
logging.shutdown()

In [ ]:
import logging
a=5
b=0
try:
    c=a/b
except Exception as e: 
    logging.error('Exception Occured',exc_info=True)

In [ ]:
import logging
a=5
b=0
try:
    c=a/b
except Exception as e: 
    logging.exception('Exception Occured',exc_info=True)

In [ ]:
import logging

logger = logging.getLogger('example_logger')
logger.warning('This is a warning')

In [ ]:
import pyodbc

In [ ]:
conn = pyodbc.connect(r'Driver={SQL Server};'
                     r'Server=SUMIT-HP\SQLEXPRESS;'
                     r'Database=PMS;'
                     r'Trusted_Connection=yes;')
curson = conn.cursor()

In [ ]:
conn_str = (
    r'Driver={SQL Server};'
    r'Server=.\SQLEXPRESS;'
    r'Database=PMS;'
    r'Trusted_Connection=yes;'
    )
cnxn = pyodbc.connect(conn_str)

In [ ]:
SERVER = 'SUMIT-HP\SQLEXPRESS'
DATABASE = 'PMS'
DRIVER = 'SQL Server Native Client 11.0'
TRUSTED_CONNECTION='yes'

In [ ]:
import pyodbc
cnxn = pyodbc.connect(r'Driver={SQL Server};Server=SUMIT-HP\SQLEXPRESS;Database=PMS;Trusted_Connection=yes;')
cursor = cnxn.cursor()

In [ ]:
results = cursor.execute("SELECT * FROM dbo.mstUsers")
for row in results:
    print(row)
print("_"*160)

In [ ]:
cursor.execute("CREATE TABLE Persons (PersonID int, LastName varchar(255), FirstName varchar(255),Address varchar(255),City varchar(255));")

In [ ]:
cursor.execute("INSERT INTO Persons values (1001, 'Mishra', 'Sumit', 'Walter Street', 'Glasgow')")

In [ ]:
cursor.execute("INSERT INTO Persons values (1002, 'Panigrahy', 'Preeti', 'George Street', 'Edinburgh')")
cursor.execute("INSERT INTO Persons values (1003, 'Panigrahy', 'Swatee', 'Murugeshpalya', 'Bangalore')")
cursor.execute("INSERT INTO Persons values (1004, 'Sahu', 'Smita', 'Armadale Court', 'Glasgow')")
cursor.execute("INSERT INTO Persons values (1005, 'Panda', 'Atanu Kumar', 'Armadale Court', 'Edinburgh')")
cursor.execute("INSERT INTO Persons values (1006, 'Pati', 'Vivek', 'Bellandur', 'Bangalore')")
cursor.execute("INSERT INTO Persons values (1007, 'Mishra', 'Amrit Kumar', 'HAL-2', 'Sunabeda')")
cursor.execute("INSERT INTO Persons values (1008, 'Acharya', 'Aditya Narayan', 'Jagannath Nagar', 'Bhubaneswar')")

In [ ]:
cursor.execute("Commit")

In [ ]:
results = cursor.execute('SELECT * FROM  dbo.Persons')

In [ ]:
for row in results:
    print(row)
print('-'*80)

In [ ]:
results = cursor.execute('Select PersonID, FirstName, LastName FROM dbo.Persons ORDER BY CITY')

In [ ]:
for row in results:
    print(row)
print('-'*80)

In [ ]:
results = cursor.execute("Select PersonID, FirstName, LastName FROM dbo.Persons WHERE CITY <> 'Bangalore'")

In [ ]:
for row in results:
    print(row)
print('-'*80)

In [ ]:
# Import sqlite3 Database
import sqlite3
# Connect to database 
db = sqlite3.connect("Demo.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grade1")

In [ ]:
# Create table as per requirement
db.execute("Create table grade1 (id int, name text, score int)")
# Insert records into the table
db.execute("Insert INTO grade1(id, name, score) values(1,'Sumit',99)")
db.execute("Insert INTO grade1(id, name, score) values(2,'Preeti',90)")
db.execute("Insert INTO grade1(id, name, score) values(3,'Swatee',85)")
db.execute("Insert INTO grade1(id, name, score) values(4,'Amrit',80)")
db.execute("Insert INTO grade1(id, name, score) values(5,'Aditya',75)")
db.execute("Insert INTO grade1(id, name, score) values(6,'Jyoti',70)")
db.execute("Insert INTO grade1(id, name, score) values(7,'Sunil',65)")
db.execute("Insert INTO grade1(id, name, score) values(8,'Atanu',60)")
db.execute("Insert INTO grade1(id, name, score) values(9,'Smita',55)")

In [ ]:
db.commit()

In [ ]:
results = db.execute('Select * FROM grade1')
for result in results:
    print(result)
    
print('-'*60)

In [ ]:
results = db.execute('Select * FROM grade1 where name="Sumit"')
for result in results:
    print(result)
    
print('-'*60)

In [ ]:
results = db.execute('Select * FROM grade1 where score>=90')
for result in results:
    print(result)
    
print('-'*60)

In [ ]:
results = db.execute('Select name, score FROM grade1 order by score desc')
for result in results:
    print(result)
    
print('-'*60)

In [ ]:
results = db.execute('Select name, score FROM grade1 order by score')
for result in results:
    print(result)
    
print('-'*60)

In [1]:
# Method to create SQLite3 connection
import sqlite3
from sqlite3 import Error

def create_connection():
    mydb=None
    try:
        mydb = sqlite3.connect('test.db')
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f'Error {e} has occured')
    
    return mydb

In [2]:
create_connection()

Connection to SQLite DB successful

In [15]:
# Method to create tables in SQLite3 Database
def execute_query(query):
    conn=create_connection()
    c=conn.cursor()
    try:
        c.execute(query)
        conn.commit()
        print("Query Executed Successfully")
    except Error as e:
        print(f"Error {e} has occured")

In [16]:
# Create Table
create_users_table = """
CREATE table if not exists users( 
id integer primary key autoincrement,
name text NOT NULL,
age integer,
gender text,
nationality text
);
"""

In [17]:
execute_query(create_users_table )

Connection to SQLite DB successful
Query Executed Successfully

In [18]:
# Insert Records Into Table
create_users = """
INSERT INTO
  users (name, age, gender, nationality)
VALUES
  ('James', 25, 'male', 'USA'),
  ('Leila', 32, 'female', 'France'),
  ('Brigitte', 35, 'female', 'England'),
  ('Mike', 40, 'male', 'Denmark'),
  ('Elizabeth', 21, 'female', 'Canada');
"""

execute_query(create_users)

Connection to SQLite DB successful
Query Executed Successfully

In [21]:
# Method to select records from table
def execute_select_query(query):
    conn=create_connection()
    c = conn.cursor()
    result=None
    try:
        c.execute(query)
        result=c.fetchall()
        print("Query Executed Successfully")
        return result
        #print("values in table : " ,c.fetchall())
        
    except Error as e:
        print(f"Error {e} has occured")

In [22]:
select_users = "SELECT * from users"
users = execute_select_query(select_users)

for user in users:
    print(user)

Connection to SQLite DB successful
Query Executed Successfully
(1, 'James', 25, 'male', 'USA')
(2, 'Leila', 32, 'female', 'France')
(3, 'Brigitte', 35, 'female', 'England')
(4, 'Mike', 40, 'male', 'Denmark')
(5, 'Elizabeth', 21, 'female', 'Canada')

In [27]:
# 1. Write a function to compute 5/0 and use try/except to catch the exception
def div_by_zero():
    result = 5/0
    return result

In [33]:
try:
    div_by_zero()
    print('Successfully divided by zero')
except ZeroDivisionError as zde:
    print("Not possible to divide by zero. Error Occured",zde)
except Exception as e:
    print("Handle any other error",e)

Not possible to divide by zero. Error Occured division by zero

In [29]:
div_by_zero()

ZeroDivisionError: division by zero

In [1]:
#Solution 1:

subject=["Americans","Indians"]
verb=["play","watch"]
objects=["Baseball","Cricket"]

# List Comprehension
Syntax = [(Sub+' '+vrb+' '+Objct+".") for Sub in subject for vrb in verb for Objct in objects]

#for Loop for Iteration
print("Output:")

for syn in Syntax:    
    print(syn)

Output:
Americans play Baseball.
Americans play Cricket.
Americans watch Baseball.
Americans watch Cricket.
Indians play Baseball.
Indians play Cricket.
Indians watch Baseball.
Indians watch Cricket.

In [3]:
# Solution 2:
subjects = ['Americans','Indains']
verbs = ['play', 'watch']
objects = ['Baseball','Cricket']
print("Output:")
for i in subjects:
    for j in verbs:
        for k in objects:
            print(i+" "+j+" "+k)

Output:
Americans play Baseball
Americans play Cricket
Americans watch Baseball
Americans watch Cricket
Indains play Baseball
Indains play Cricket
Indains watch Baseball
Indains watch Cricket